<?xml version="1.0" encoding="UTF-8"?>
     
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Investec Test Automation Suite" verbose="1" >
  <test name="Investec App Test" >
    <classes>
       <class name="com.qa.test.InvestecHomePageTest" />
       <class name="com.qa.test.SearchPageTest" />
       <class name="com.qa.test.FocusPageTest" />
    </classes>
  </test>
</suite>

